<launch>





  <!-- start world
  <node name="gazebo" pkg="gazebo_ros" type="gazebo"
   args="$(find turtlebot3_gazebo)/worlds/empty.world" respawn="false" output="screen" />
   Spawning the model onto the environment
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_model"
    args="-file /home/elton/catkin_ws/src/rr-192152_tier4/final_project_practice/model2.sdf -sdf -x 3 -y -4 -model final_prj"
    output="screen">
  </node>-->

  <!-- include our robots -->




  <arg name="robot_id" default="robot1"/>

  <!-- Launching the final project node -->
  <node pkg="prj_phoenix" type="eb-192129_sorted.py" name="prj_phoenix" ns="$(arg robot_id)" output="screen">
  </node>
</launch>
